@import '~@angular/material/theming';
@import './component-themes';

@include mat-core();


$md-ecopetrol-light: (
    50 : #f1f9e5,
    100 : #80ffd3,
    200 : #4dffc1,
    300 : #27ffb4,
    400 : #01ffa7,
    500 : #dbf1bf,
    600 : #c3e894,
    700 : #abde69,
    800 : #99d749,
    900 : #87d029,
    A100 : #ffec9f,
    A200 : #fcf369,
    A400 : #ffec00,
    A700 : #ffd93f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include component-themes($theme);


// Our dark theme
.dark-theme {
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent:  mat-palette($mat-amber, A400, A100, A700);
  $dark-warn:    mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}

