  <!-- Swiper -->
  <div class="swiper-container" style="height: 17em;">
        <div class="swiper-wrapper">
          <div *ngFor="let item of pbidata;let i = index" class="swiper-slide"><app-welcome [configExternal]="item" [embedToken]="embedToken"></app-welcome></div>
<!--           <div class="swiper-slide">
            <div class="swiper-slider"><app-welcome></app-welcome></div>
            <div class="swiper-slider"><app-welcome></app-welcome></div>
            <div class="swiper-slider"><app-welcome></app-welcome></div>
          </div> -->
    <!--       <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
          <div class="swiper-slide">Slide 10</div> -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

  <!-- Swiper -->
  <div class="swiper-container" style="height: 17em;">
    <div class="swiper-wrapper">
      <div *ngFor="let item of pbidata;let i = index" class="swiper-slide"><app-welcome [configExternal]="item" [embedToken]="embedToken"></app-welcome></div>
<!--           <div class="swiper-slide">
        <div class="swiper-slider"><app-welcome></app-welcome></div>
        <div class="swiper-slider"><app-welcome></app-welcome></div>
        <div class="swiper-slider"><app-welcome></app-welcome></div>
      </div> -->
<!--       <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div> -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
    
