.sidenav-container {
  height: 100%;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav {
  padding: 20px;
}
.sidenav {
  width: 200px;
}
.example-sidenav-content {
  height: 100%;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  left: 0;
  right: 0;
}
.mat-drawer {
  background-color: #49c74a;
}
.mat-toolbar.mat-primary {
  background: #ffeb3b;
  color: rgba(0, 0, 0, 0.87);
}
